---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: proxmox-csi
spec:
  chartRef:
    kind: OCIRepository
    name: proxmox-csi
  interval: 1h
  timeout: 15m
  values:
    config:
      clusters:
        - url: https://${PROXMOX_HOST}:8006/api2/json
          insecure: true
          token_id: "kubernetes-csi@pve!csi"
          token_secret: "${PROXMOX_CSI_TOKEN_SECRET}"
          region: pve
    storageClass:
        - name: proxmox-data-ext4
          storage: local-lvm # Storage name at proxmox
          reclaimPolicy: Delete
          fstype: ext4
